<!DOCTYPE html>
<html>
 <head>
   <title>Info Page</title>
 </head>

<body>
  <h1>What do I do?</h1>
  <p> This app keeps track of what's going on in every family members day to day life </p>
</body>
</html>
